*{
    margin:0;
    padding:0;
}

body{
    background-image: url("bgg.jpeg");
}
.navigation{
    background-image: url("OIP.jpeg");
    
}
#loll{
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 40px;
font-weight: bold;
}